@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jacques+Francois+Shadow&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --text-color: #383838;
    --white-color: #fff;
    --dark-black: #000000;
    --border-shadow: #00000012;
    --related-post-box-border: #dddddd;
    --related-post-name-color: #333333;
    --main-page-tag: #6D6D6D;
}
body{
    font-family: "Roboto Slab", sans-serif;
    color: var(--text-color);
}
/* blog single page */
.blog_single_page{
    width: 90%;
    max-width: 1440px;
    margin: 0px auto;
}
/* first section */
.blog_single_page_first_section_container{
    width: 100%;
    padding: 20px 0px;
}
/* section categories */
.blog_single_page_first_section_categories{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
/* category item */
.first_section_categories_item{
    text-decoration: underline;
    font-size: 15px;
    font-weight: 700;
    margin-right: 20px;
    letter-spacing: 0.036666667em;
}
.first_section_categories_item:hover{
    text-decoration: none;
    transition: 0.3s all;
}
/* section name */
.blog_single_page_first_section_name{
    width: 100%;
    text-align: center;
    font-size: 44px;
    color: var(--dark-black);
    font-weight: 500;
    letter-spacing: -0.0415625em;
    margin-bottom: 30px;
}
/* author and date */
.blog_single_page_first_section_author_and_date{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.first_section_author, .first_section_date{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px
}
.first_section_author i, .first_section_date i{
    font-size: 20px;
    margin-right: 5px;
}
.first_section_author{
    margin-right: 20px;
}
/* second section */
.blog_single_page_second_section_container{
    width: 100%;
}
.blog_single_page_second_section{
    width: 100%;
}
/* section image */
.blog_single_page_second_section_image{
    width: 100%;
}
.blog_single_page_second_section_image img{
    width: 100%;
}
/* description */
.blog_single_page_second_section_description{
    width: 64%;
    margin: -50px auto 80px;
    padding: 30px;
    background: var(--white-color);
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: var(--border-shadow) 0px 8px 4px 0px;
    position: relative;
    z-index: 2;
}
/* description text */
.second_section_description_text{
    width: 100%;
    color: var(--dark-black);
}
.second_section_description_text p{
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.6
}
/* description headings */
.description_text_head{
    font-size: 26.25px;
    margin: 35px 0px 20px;
    text-align: left;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.0415625em;
}
.description_text_list{
    width: 100%;
    padding: 0px 0px 0px 50px;
}
.description_text_list li{
    width: 100%;
    list-style: disc;
    padding: 5px 0px 0px 0px;
}
.description_text_image{
    width: 100%;
    margin: 40px 0px;
}
.description_text_image img{
    width: 100%;
}
/* related posts */
.blog_single_page_related_posts{
    width: 100%;
    max-width: 580px;
    margin: 0px auto;
}
/* related posts header */
.blog_single_page_related_posts_head{
    font-size: 40px;
    text-align: left;
    font-weight: 500;
    letter-spacing: -0.0415625em;
    line-height: 1.25;
    margin-bottom: 30px;
}
/* related posts container */
.related_posts_boxes_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* post box */
.related_posts_box{
    width: 164px;
    /* min-width: 164px; */
    padding: 6px;
    margin-right: -1px;
    margin-bottom: 5px;
    background-color: var(--white-color);
    border-left: 1px solid var(--related-post-box-border);
    border-right: 1px solid var(--related-post-box-border);
}
.related_posts_box img{
    display: block;
    width: 100%;
    /* max-width: 150px; */
    margin: 0px auto;
}
/* post box name */
.related_posts_box_name{
    font-size: 14px;
    text-align: center;
    color: var(--related-post-name-color);
    margin-top: 3px;
}
/* page main tag */
.blog_single_page_main_tag{
    width: 100%;
    max-width: 580px;
    margin: 50px auto 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--main-page-tag);
}
.blog_single_page_main_tag i{
    font-size: 20px;
    margin-right: 5px;
}
.blog_single_page_main_tag_name:hover{
    text-decoration: underline;
}
/* page pagination */
.blog_single_page_pagination_container{
    width: 100%;
    margin-bottom: 80px;
}
.blog_single_page_pagination_separator{
    width: 100%;
    height: 1px;
    background-color: var(--main-page-tag);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.separator_content{
    background-color: var(--white-color);
    padding: 0px 5px;
}
.blog_single_page_pagination_arrows{
    width: 100%;
    display: flex;
    padding: 40px 0px;
    justify-content: space-between;
}
.blog_single_page_pagination_prev, .blog_single_page_pagination_next{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.page_pagination_prev_arrow{
    margin-right: 10px;
}
.page_pagination_next_arrow{
    margin-left: 10px;
}
.blog_single_page_pagination_name{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.0275em;
}
.blog_single_page_pagination_name:hover{
    text-decoration: underline;
}
/* responsive */
@media (width <= 740px){
    .blog_single_page_second_section_description{
        width: 95%;
        margin: -20px auto 80px;
        padding: 20px 8px;
    }
}
@media (width <= 699px){
    .blog_single_page{
        width: 95%;
    }
    .first_section_categories_item{
        font-size: 14px;
    }
    .first_section_author, .first_section_date{
        font-size: 15px;
    }
    .blog_single_page_related_posts_head{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .blog_single_page_second_section_description{
        margin-bottom: 35px;
    }
    .blog_single_page_main_tag{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .blog_single_page_pagination_arrows{
        flex-direction: column;
        align-items: flex-start;
        padding: 28px 0px;
    }
    .blog_single_page_pagination_next{
        flex-direction: row-reverse;
        margin-top: 10px;
    }
    .page_pagination_next_arrow{
        margin-left: 0px;
        margin-right: 10px;
    }
    .blog_single_page_pagination_name{
        font-size: 18px;
    }
    .blog_single_page_pagination_container{
        margin-bottom: 50px;
    }
}
@media (width <= 520px){
    .related_posts_boxes_container{
        justify-content: center;
    }
    .blog_single_page_first_section_name{
        font-size: 30px;
    }
}
@media (width <= 479px){
    .description_text_list{
        padding-left: 20px;
    }
    .blog_single_page_related_posts_head{
        font-size: 25px;
    }
    .description_text_head{
        font-size: 20px;
    }
}
@media (width <= 365px){
    .related_posts_boxes_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (width <= 293px){
    .blog_single_page_first_section_author_and_date{
        width: 50%;
        margin: 0px auto;
        flex-direction: column;
    }
    .first_section_author{
        margin-right: 0px;
        margin-bottom: 10px;
    }
}