@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jacques+Francois+Shadow&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ______ footer ____________*/
footer{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
/* ___ footer container _______*/
.footer_container_black{
    width: 100%;
    background-color: #252525;
    padding: 40px  0;
}
/* ___ footer menus ___________*/
.footer_menus{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
/* _____ footer item __________*/
.footer_menu_item, .footer_last_menu_item{
    width: 25%;
    color: #ffffff;
    padding: 0px 15px;
}
.footer_last_menu_item .footer_menu_item{
    padding-left: unset;
    padding-right: unset;
}
/* _____ footer item head __________*/
.footer_menu_item_head span{
    font-size: 20px;
    font-weight: 800;
    font-family: Roboto, helvetice, sans-serif;
    border-bottom: 2px solid #fff;
    padding-bottom: 16px;
}
.footer_menu_item_head{
    padding-bottom: 20px;
}
/* ________ footer menu item list _________ */
.footer_menu_item ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer_menu_item ul li{
    font-size: 14px;
    font-family: Roboto, helvetice, sans-serif;
    padding: 5px 0px;
}
/* _____ last menu item __________ */
.footer_last_menu_item{
    display: flex;
    flex-direction: column;
}
.footer_last_menu_item .footer_menu_item{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer_last_menu_item .footer_menu_item:last-child{
    margin-top: 10px;
}
/* ______ footer logo and social links ____________ */
.footer_logo_and_social_link_container{
    width: 97%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_logo_container{
    width: 50%;
}
.footer_social_links{
    width: 17%;
    min-width: 222px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.footer_social_links a{
    width: 25%;
    padding: 0 10px;
}
/* ___ footer copyright ______ */
.footer_copyright{
    width: 90%;
    margin: auto;
    font-size: 12px;
    font-family: Roboto, helvetice, sans-serif;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
}
/* ___ bank logos _____*/
.bank_logos_container{
    width: 100%;
    padding: 25px 0px;
}
.footer_bank_logos{
    width: 90%;
    display: block;
    margin: auto;
}
.mobile_footer_container{
    display: none;
}
.up_btn{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #383838;
    bottom: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 20px;
    z-index: 99;
    text-align: center;
}
.up_btn a{
    width: 100%;
    height: 40px;
    display: block;
}
.up_btn i{
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    top: 10px;
    left: 10px;
}
/* __________________________ tablet responsive ______________________________________ */
@media (max-width: 1024px){
    /* footer logo */
    .footer_logo{
        display: block;
        margin: auto;
    }
    /* ____ footer social links _____*/
    .footer_social_links{
        margin: auto;
    }
}
@media (max-width: 991px){
    .footer_menus{
        flex-wrap: wrap;
    }
    .footer_menu_item{
        width: 50%;
    }
}
/* ____________________________ mobile footer __________________________________________ */
@media (max-width: 767px){
    .footer_menus{
        display: none;
    }
    /* ____ mobile footer menu ___________ */
    .mobile_footer_container{
        display: block;
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    /* _______ mobile footer menu list _____*/
    .mobile_footer_container ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }
    .mobile_footer_container ul li{
        width: 100%;
        border-bottom: 1px solid #3a3a3a;
    }
    .mobile_footer_container ul li a{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        font-size: 15px;
        font-family: Roboto, helvetice, sans-serif;
        padding: 15px 0px;
        z-index: 2;
        background-color: #252525;
        position: relative;
    }
    /* _____ arrow image ______________*/
    .mobile_footer_container ul li a img{
        width: 16px;
        height: 15px;
    }
    .footer_logo_and_social_link_container{
        flex-direction: column;
    }
    .footer_logo_container{
        margin: auto;
        margin-bottom: 20px;
    }
    /* _______ drop down animation ______ */
    @keyframes drop_down{
        0%{ height: 0px; };
        100%{ height: 100px; };
    }
    /* ______ hakkimizda drop down _______ */
    .hakkimizda_first_drop_down{
        width: 100%;
        margin-bottom: 10px;
        display: none;
    }
    .hakkimizda_first_drop_down a{
        width: 100%;
        font-size: 13px !important;
        font-family: Roboto, helvetice, sans-serif;
        padding: unset !important;
    }
    /* ______ haqqimizda second and blog drop down ________________*/
    .haqqimizda_second_drop_down, .blog_drop_down {
        width: 100%;
        padding-bottom: 8px;
        display: none;
    }
    .haqqimizda_second_drop_down ul, .blog_drop_down ul{
        width: 100%;
        padding-left: 8px;
    }
    .haqqimizda_second_drop_down ul li, .blog_drop_down ul li{
        width: 100%;
    }
    .haqqimizda_second_drop_down ul li a, .blog_drop_down ul li a{
        font-size: 13px;
        padding: 8px;
    }
    /* display block class */
    .display_block_for_footer_drop_down{
        display: block;
        animation: 0.3s drop_down;
        position: relative;
        z-index: 1;
    }
    .up_btn{
        display: none;
    }
}