@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jacques+Francois+Shadow&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --gray-color: rgba(0,0,0,.03);
    --gray-color-second: #ececec;
    --light-black-color: #383838;
    --white-color: #fff;
    --dark-gray:#fbfbfb;
    --blue-color: #0782c1;
    --light-gray-color: #f2f2f2;
    --dark-white-color: #fefefe;
    --light-blue: #0000FF;
}
/* ________ geri qaytarma page _______________________________________________*/
.istifade_rehberi_page{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
/* ________ geri qaytarma container_________________*/
.istifade_rehberi_container{
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    justify-content: space-between;
}
/* _________ geri qaytarma menu container __________*/
.istifade_rehberi_menu_container{
    width: 23%;
    min-width: 190px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
/* _________ geri qaytarma menu back button ________*/
.istifade_rehberi_menu_back_button{
    width: 100%;
    margin: 10px 0px;
    cursor: pointer;
}
.istifade_rehberi_menu_back_button a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-family: Roboto, helvetica, sans-serif ;
}
.istifade_rehberi_menu_back_button a img{
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
/* ____________ geri qaytarma menus ________________*/
.istifade_rehberi_menus{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* ____________ menu item _________________________ */
.istifade_rehberi_menu_item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 15px 5px;
    margin-bottom: 10px;
    background-color: var(--gray-color);
    cursor: pointer;
    user-select: none;
}
/* _______ menu item name __________________________*/
.istifade_rehberi_menu_item_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-family: Roboto, helvetica, sans-serif;
    font-weight: 700;
}
.istifade_rehberi_menu_item_name img{
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
.istifade_rehberi_menu_item i{
    font-size: 22px;
}
.istifade_rehberi_menu_item_rotate_arrow{
    transform: rotate(180deg);
}
/* ____________ geri qaytarma menu item drop down _____________________ */
@keyframes geriQaytarma_drop_down{
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}
.istifade_rehberi_menu_item_drop_down{
    width: 100%;
    display: flex;
    flex-direction: column;
    display: none;
    animation: 0.6s geriQaytarma_drop_down;
}
/* ____ menu item drop down list ________________*/
.istifade_rehberi_menu_item_drop_down li{
    width: 100%;
    border-bottom: 1px solid var(--gray-color-second);
}
.istifade_rehberi_menu_item_drop_down li:last-child{
    border-bottom: unset;
}
.istifade_rehberi_menu_item_drop_down li a{
    width: 100%;
    padding: 14px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: Roboto, helvetica, sans-serif;
}
.istifade_rehberi_menu_item_drop_down li a i{
    font-size: 16px;   
}
/* _________ geri qaytarma information container ____________ */
.istifade_rehberi_information_container{
    width: 75%;
    padding: 0 15px;
    /* overflow-x: auto; */
}
/* geri qaytarma print button */
.istifade_rehberi_information_print_button{
    width: 100%;
    text-align: right;
}
.istifade_rehberi_information_print_button button{
    background: var(--light-black-color);
    border: 1px solid var(--light-black-color);
    color: var(--white-color);
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
}
/* information head name */
.istifade_rehberi_information_head_name{
    font-size: 18px;
    font-family: Roboto, helvetica, sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* ________ geri qaytarma information box _______________*/
.istifade_rehberi_information_box{
    /* width: 977px; */
    font-size: 16px;
    font-family: Roboto, helvetica, sans-serif;
}
.istifade_rehberi_information_box p{
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.paragraph_indent{
    margin-right: 10px 
}
.text_center{
    text-align: center;
}
p:last-child a{
    color: var(--light-blue);
    text-decoration: underline;
    font-weight: 500;
}
.istifade_rehberi_information_mobile_page_head{
    display: none;
}
/* ___________ responsive design page ____________________*/
@media (max-width: 1023px){
    .istifade_rehberi_page{
        margin-top: 45px;
    }
}
@media (max-width: 767px){
    .istifade_rehberi_menu_container{
        display: none;
    }
    .istifade_rehberi_information_container{
        width: 100%;
    }
    .istifade_rehberi_information_box{
        width: 100%;
    }
}
@media (max-width: 575px){
    .istifade_rehberi_information_mobile_page_head{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        border-top: 1px solid var(--light-gray-color);
        border-bottom: 1px solid var(--light-gray-color);
        background-color: var(--dark-white-color);
        padding: 14px 15px;
        margin-bottom: 20px;
    }
    .istifade_rehberi_information_mobile_page_head img{
        width: 22px;
        height: 18px;
        /* margin-right: 20px; */
    }
    .istifade_rehberi_information_mobile_page_head span{
        display: block;
        margin: auto;
        margin-left: 10px;
        font-size: 18px;
        font-family: Roboto, helvetica, sans-serif;
        font-weight: 500;
    }
    .istifade_rehberi_information_head_name{
        margin: 20px 0px;
    }
}
/* ___ print page _________*/
@media print {
    .desktop_header{
        display: none;
    }
    .mobile_header{
        display: none;
    }
    .footer{
        display: none;
    }
    .istifade_rehberi_menu_container{
        display: none;
    }
    .istifade_rehberi_information_mobile_page_head{
        display: none;
    }
}